<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceTOP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50493/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceTOP" contract="IServiceTOP"
                name="BasicHttpBinding_IServiceTOP" />
        </client>
    </system.serviceModel>
</configuration>